.maindiv {
    background: #DDE0FF;
    background-image: url(/assets/609c7731d037f1b65d00906a7bc1e241.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; /* Ensure the background image covers the container */
    height: 100vh; /* Full viewport height */
}

.logindiv {
    padding: 30px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: fantasy;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #717070;
    text-align: center;
    margin-top: 22px;
}

p {
    color: #A08CB1;
    opacity: 0.6;
    font-size: 14px;
    margin-top: 20px;
}

#btn {
    border-radius: 8px;
    background: #5C218B;
    color: #fff;
    padding: 15px; /* Adjust padding for better button size */
    font-size: 16px; /* Increase font size for readability */
}
